body {
  font-family: sans-serif;
  background-color: lightgray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  max-width: 50%;
  max-height: 50%;
}
.container {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.defaultCards {
  /* background-color: lightblue; */
  width: 100px;
  /* max-width: auto;
  max-height: auto; */
}
.selected {
  box-shadow: 10ch;
  background-color: red;
}
